<!-- card -->
<div class="card">
    <!-- card body -->
    <div class="card-body">
        <!-- card title -->
        <h4 class="card-title mb-4">Détails de la reservation</h4>

        <div class="w-100">
            <gestions-reservations idBooking="{{ reservation.id }}">

            </gestions-reservations>
        </div>
    </div>
</div>