<section class="section-padding" id="about">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-12">
                <h3 class="mb-lg-3 mb-3">
                    Steph HealthPlace : votre infirmière à domicile à Vilvoorde Zaventem Machelen ou environs</h3>

                <p>Vous requérez les services d’une infirmière à domicile à Vilvoorde Zaventem Machelen ou alentours ?
                    <br/>
                    Passionnées par notre métier, nous vous proposons notre aide. <br/>
                    Bénéficiez de nos conseils avisés <br/>
                    et de notre expérience longue de plus de 5 ans dans le domaine.</p>
            </div>


            <div class="col-lg-4 col-md-5 col-12 mx-auto">
                <div class="featured-circle bg-white shadow-lg d-flex justify-content-center align-items-center">
                    <p class="featured-text"><span class="featured-number">5</span> Ans<br> d'experiences</p>
                </div>
            </div>

            <div class="col-md-12 col-12 mt-5">
                <h3 class="mb-lg-3 mb-3">Une batterie de soins :</h3>

                <p>
                    Spécialisées en soins à domicile, nous effectuons l’ensemble des tâches qui nous sont dévolues.<br/>
                    Vérification des paramètres, pansement de plaies, soins de stomie, sondage, <br/>
                    lavements ou préparation de médicament sont autant de services que nous sommes en mesure de vous
                    rendre.<br/><br/>

                    <strong>Soins palliatifs</strong><br/>
                    Le domaine délicat des soins palliatifs nécessite tact et doigté. <br/>
                    Notre expérience nous permet d’appréhender tous les cas possibles. <br/>
                    De la gestion de la douleur aux soins, en passant par la pose et le retrait de cathéter
                    ou l’alimentation, n’hésitez pas à nous demander de l’aide.<br/><br/>

                    <strong>Hygiène</strong><br/>
                    Besoin d’une toilette à domicile ?
                    Nous intervenons chez vous : lavage de cheveux, rasage, soin des ongles, des mains ou des
                    dents…<br/>
                    Votre situation nécessite une aide à l’habillement ou l’administration de gouttes ophtalmiques :
                    <br/>
                    contactez-nous au plus vite.<br/><br/>


                    <strong>Prise de sang et injections</strong><br/>
                    Nous administrons l’ensemble des soins infirmiers. <br/>
                    Prise de sang, injections diverses (sous-cutanée, intraveineuse, intramusculaire ou intradermique),
                    <br/>
                    perfusions ou hypodermoclyse : des prestations réalisées avec le sourire en prime.<br/><br/>


                    <strong>Un suivi personnalisé</strong><br/>
                    Proches de nos patients lors d’aide et soins à domicile, nous collaborons, également, avec les
                    familles et le médecin traitant. Pour un suivi personnalisé, au cas par cas, faites-nous confiance.
                    Passionnés et à l’écoute, nous agissons toujours dans votre intérêt.

                </p>
            </div>

        </div>
    </div>
</section>