{% extends 'vitrine/base/base.html.twig' %}

{% block title %}Suppresion de la reseravtion{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-12">
                <div class="m-auto" style="height: 300px">
                    <img class="w-100 h-100" src="{{ asset('images/mail/mail_cancel.svg') }}">
                </div>
            </div>
            <div class="col-12 text-center mt-4">
                <h5 class="mb-3">{{ message }}</h5><br/>
                <a class="mb-lg-3 mb-3 btn btn-primary"
                   href="{{ path('booking_index') }}">
                    Reserver d'aute soins
                </a>
            </div>
        </div>
    </div>
{% endblock %}