{% extends 'vitrine/base/base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 text-center mt-4">
                <h3 class="mb-lg-3 mb-3">Faites votre reservations en un clique</h3>
            </div>

            <div class="col-12">
                <booking-systems idCategorie="{{ categorie.id }}">

                </booking-systems>
            </div>
        </div>
    </div>
{% endblock %}