<div class="col-md-7 col-12">
    <h2 class="mb-lg-3 mb-3">Votre toilette à domicile</h2>

    <p>
        Vous êtes à la recherche d’infirmières pour une toilette à domicile à Vilvoorde Zaventem et Machelen ?
        Nous réalisons, tous les soins d’hygiène et annexes (toilette, bain, lavabo…). Motivées et responsables,
        nous intervenons avec passion et toujours dans l’optique du service rendu aux patients. <br/>
        Envie d’un conseil ou d’un renseignement ? Entrez immédiatement en contact avec nous.<br/>
        <br/><br/><br/>

        <strong>Voici un aperçu des nombreux soins que nous prodiguons :</strong><br/><br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp; Lavage de cheveux <br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp; Rasage <br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp; Soin des ongles et des mains <br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp; Administration de gouttes ophtalmiques <br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp; Aide au soin des dents <br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp; Aide à l’habillement.<br/><br/>

        Toutes nos interventions sont couvertes par votre mutuelle !<br/>
        Besoin de soins à la maison ?<br/><br/>

        Infirmière à domicile, nous couvrons l’ensemble des interventions possibles dans ce cadre,
        qu’il s’agisse de soins à domicile ou palliatifs (traitement, prévention, suivi) ou de soins infirmiers. <br/>
        Nous nous déplaçons, alors, pour toute prise de sang, injection ou pose de perfusion.<br/>

    </p>
</div>