<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <!-- Page header -->
        <div>
            <div class="border-bottom pb-4 mb-4 d-flex">
                {% if link is defined %}
                <div class="mb-2 mb-lg-0">
                    <a class="btn btn-sm rounded-circle btn-primary"
                       href="{{ path(link) }}" style="margin-right: 10px">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </div>
                {% endif %}
                <div class="mb-2 mb-lg-0">
                    <h3 class="mb-0 fw-bold">{{ title }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>