<div class="col-md-7 col-12">
    <h2 class="mb-lg-3 mb-3">Accompagnement en soins palliatifs</h2>

    <p>
        Votre état de santé ou celui d’un proche nécessite des soins palliatifs à Zaventem Vilvoorde et Machelen ou
        alentours ?
        Vous avez besoin de l’intervention d’infirmières soucieuses du bien-être de leurs patients et leurs familles ?
        nous nous déplaçons à domicile avec notre expérience et la passion de notre travail. <br/>
        Toujours dans l’optique d’offrir un suivi personnalisé, en fonction de la situation.<br/>
        En quoi pouvons-nous vous aider ?
        <br/>
        <br/><br/><br/>

        <strong>Faites-vous une idée de ce que nous pouvons vous apporter :</strong><br/><br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp;Gestion de la douleur <br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp;Injections et tous soins infirmiers <br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp;Traitements de chimiothérapie <br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp;Pose et retrait de cathéter <br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp;Soin des ulcères, prévention des escarres <br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp;Hygiène, toilette à domicile .<br/><br/>

        Nos soins sont pris en charge par votre mutuelle.<br/>
        Une aide à l’alimentation
        <br/><br/>

        Parfois, une alimentation traditionnelle, par la bouche, devient difficile,
        insuffisante ou tout simplement impossible. Une solution doit être trouvée par le médecin.
        Dans ce cas, nous nous chargeons de vous nourrir par voie entérale (avec une sonde)
        ou parentérale (par perfusion).
        <br/>

    </p>
</div>