<section class="section-padding" id="about">
    <div class="container">
        <h2 class="mb-lg-3 mb-3">Stephanie healthPlace</h2>

        <p>
            Aide à Domicile<br/>
            Stephanie healthPlace est une société spécialisée dans la prise en charge des personnes âgées.<br/>
            Grace au soutien et à la présence de nos équipes,
            nos patients ont la possibilité de rester à leur domicile en toute sécurité.<br/>
            Nous les accompagnons dans tous les gestes du quotidien que la perte d’autonomie ne leur permet plus
            d’accomplir seuls.<br/><br/>
            Ces gestes s’étendent à de nombreux domaines, que ce soit pour sécuriser leurs déplacements au domicile
            ou en extérieur, aider à se lever, s’habiller, se coucher, s’assurer de la préparation et de la prise des
            repas,<br/>
            aide à la toilette, veiller sur leurs nuits, suivi de la prise de médicaments, stimulation cognitive, <br/>
            promenades, sorties culturelles ou accompagnements véhiculés (médecin, kinésithérapeute, coiffeur, amis,
            famille, …).<br/><br/>

            Notre personnel est capable de prendre en charge des pathologies lourdes comme des cas plus légers
            et d’apporter aide, soutien et confort à chaque bénéficiaire.<br/><br/>
            Garde malade et personnes âgées 24h/24<br/><br/>
            Aide aux repas<br/>
            Véritable moment de convivialité qu’il faut savoir préserver, <br/>
            l’auxiliaire de vie prépare des repas selon les goûts, les envies, et les régimes de la personne âgée.<br/>
            Elle aide également à la prise de repas si le patient a des difficultés à manger seul.<br/><br/>

            Présence de nuit<br/>
            Lorsque la présence de nuit d’une auxiliaire de vie est nécessaire, <br/>
            celle-ci est disponible à tout moment de la nuit pour aider la personne âgée si elle doit se lever <br/>
            ou simplement pour la rassurer.<br/>
            Elle consiste également à sécuriser tous ses déplacements.<br/>
            compagnie<br/>
            Nos aides sont également d’excellentes dames de compagnie. <br/>
            Conserver des relations sociales de qualité est primordial pour prévenir la solitude <br/>
            et éviter le repli sur soi. Nos aides s’assurent d’être à l’écoute, de faire la conversation, <br/>
            de stimuler (par des jeux de société, de la lecture, etc ,..) et font le suivi de la prise de médicaments.
            <br/>
            De même, elles pourront accompagner le patient chez le médecin, <br/>
            le kinésithérapeute, le coiffeur, une visite culturelle ou encore simplement une promenade. <br/>
            Ces sorties peuvent se faire aussi bien à pied, en transport en commun ou en taxi.<br/>

        </p>
    </div>
</section>