<div class="col-md-7 col-12">
    <h2 class="mb-lg-3 mb-3">Aide et soins à domicile à visage humain</h2>

    <p>
        Vous êtes à la recherche d’aide et soins à domicile à Zaventem, Vilvoorde et Machelen ? <br/>
        En totale collaboration avec le médecin traitant, les services hospitaliers et les aides familiales,
        nous assurons un suivi permanent et personnalisé de chaque patient.<br/>
        Avec nous, vous serez entre de bonnes mains.<br/>
        Un rôle de relais<br/>
        <br/><br/>

        <strong>Dans le cadre de nos services de soins infirmiers, nous mettons l’accent sur plusieurs points nous
            permettant de vous offrir le meilleur suivi possible :</strong><br/><br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp;Mise en contact: avec des médecins et des aides
        familiales, lorsque cela se révèle nécessaire <br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp;Une oreille attentive: nous sommes toujours à l’écoute
        des desiderata de nos patients <br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp;Collaboration avec la famille: nous tenons à assumer
        notre rôle de relais entre le patient et ses proches<br/>
        <br/>

        Envie d’en savoir plus ? <br/>
        N’hésitez pas et contactez-nous immédiatement pour un conseil ou un rendez-vous.<br/>

    </p>
</div>