<div class="col-lg-4 mt-3 mt-md-0 col-12 mx-auto">
    <img src="{{ image }}" class="img-fluid" alt="porter un masque"
         title="portez un masque pour vous protéger">
    <div class="booking-form" id="booking">
        <div class="row">
            <div class="col-12 mx-auto mb-4">
                <a href="{{ path('booking_categorie_index', {'id': categorie.id, 'slug': categorie.slug}) }}"
                   class="btn text-center border-0 w-100 p-2" id="submit-button">
                    Reservez
                </a>
                <p></p>
            </div>
        </div>
    </div>
</div>