<div class="col-md-7 col-12">
    <h2 class="mb-lg-3 mb-3">TEST PCR OU TEST RAPIDE A DOMICILE OU EN ENTREPRISE </h2>

    <p>
        Faites-vous tester rapidement tout en restant chez vous ou en entreprise.<br/>
        Vous souhaitez vous faire dépister ?<br/>
        Vous avez programmé un départ ou un retour de vacances ?<br/>
        Vous avez été en contact avec un ami ou un collègue atteint du Covid ?<br/>
        Vous avez des symptômes du Covid ?<br/>
        Un centre de contact vous a appelé pour un dépistage ?<br/>
        Faites-vous tester rapidement tout en restant chez vous ou en entreprise.<br/><br/>

        stephhealtplace soins à domicile peuvent réaliser votre test PCR ou test rapide à
        domicile ou en entreprise avec un rendez-vous en moins de 24h.<br/>
        Les résultats de votre test sont disponibles en moins de 24h après le passage de notre infirmière.<br/>
        Facile, rapide et fiable, le test PCR est le moyen le plus sûr de vérifier si vous êtes porteur du virus.<br/>
        Vous recevrez toujours les résultats de votre test qu’ils soient positifs ou négatifs.<br/><br/>
        Nous sommes disponibles 7 jours sur 7 de 07h00 à 20h00<br/><br/>

        Pour nous contacter : Appelez-nous au 0471584302<br/>
        Envoyez-nous un e-mail à l’adresse stephhealtplace@gmail.com<br/>
        Note pratique : vous aurez besoin de votre carte d’identité (numéro national)
        ainsi que votre numéro de portable lors du passage de notre infirmière chez vous.<br/>
        Vous ne savez pas si le pays dans lequel vous vous rendez ou duquel vous revenez est en zone rouge
        Consultez la carte européenne ici : <a href="https://reopen.europa.eu/fr">https://reopen.europa.eu/fr</a>

    </p>
</div>