<div class="col-md-7 col-12">
    <h2 class="mb-lg-3 mb-3">Vos soins infirmiers en toute confiance</h2>

    <p>
        Votre situation nécessite des soins infirmiers? <br/>
        Vous avez besoin d’effectuer une prise de sang ou une injection ? <br/>
        Faites appel à nos services sans hésiter.<br/>
        Quels actes pouvons-nous poser ?
        <br/><br/>

        <strong>Voici un résumé des différents services que nous sommes en mesure de vous rendre :</strong><br/><br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp;Toute prise de sang <br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp;La pose de perfusions et hypodermoclyse <br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp;La pose de perfusions et hypodermoclyse <br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp;L’alimentation entérale et parentérale <br/>
        <i class="fas fa-hand-holding-medical"></i> &nbsp;&nbsp;Les interventions lors de soins palliatifs<br/><br/>

        Nous travaillons dans le strict respect du contrôle des produits et du matériel utilisé !<br/>
        Tous les types d’injections
        <br/><br/>

        Spécialisées en soins à domicile, nous pouvons pratiquer toutes les injections nécessaires à votre traitement.
        Injections sous-cutanées, intraveineuses, intramusculaires ou intradermiques.
        Nous posons et enlevons le cathéter au besoin. Nos soins sont entièrement pris en charge par toutes les
        mutuelles.
        <br/>

    </p>
</div>