<footer class="site-footer" id="contact">
    <div class="container">
        <div class="row ">

            <div class="col-md-3 me-auto col-12 mt-5">
                <h5 class=" mb-3">Horaires</h5>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item d-flex">
                        Lundi a Dimanche
                        <span class="fs-5">24h/24</span>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 col-12 mt-5">
                <h5 class=" mb-3">Nos contacts</h5>
                <p><a href="mailto:Stephanie@healthplace.be">stephhealthplace@gmail.com</a>
                <p>

                <p>Zaventem Vilvoorde et Machelen</p>
                <p class="copyright-text">
                    Powerd By: <a href="https://eden-itsystems.cm/" target="_blank">Eden It Systems</a></p>
            </div>

            <div class="col-md-4 col-12 ms-auto mt-5">
                <h5 class=" mb-2">Compte sociaux</h5>

                <ul class="social-icon">
                    <li><a href="#" class="social-icon-link "><i class="fab fa-facebook fa-2x"></i></a></li>

                    <li><a href="#" class="social-icon-link"><i class="fab fa-twitter fa-2x"></i></a></li>

                    <li><a href="#" class="social-icon-link"><i class="fab fa-instagram fa-2x"></i></a></li>

                    <li><a href="#" class="social-icon-link"><i class="fab fa-whatsapp fa-2x"></i></a></li>
                </ul>

                <div>
                    <br/><br/>
                    <p class="copyright-text">Copyright © Steph HealtPlace 2021</p>

                </div>
            </div>
        </div>
    </div>
</footer>